@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxygen&family=Roboto&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family:Ubuntu;
    font-weight: 400;
    color: #3a3a3a;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#main_logo {
    float: left;
}