@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxygen&family=Roboto&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family:Ubuntu;
    font-weight: 400;
    color: #2382db;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2382db;
}

#main_logo {
    float: left;
    margin-left: 30px;
}

#navigation_bar {
    font-size:115%;
    letter-spacing: 4px;
}

#navigation_bar, #main_logo {
    line-height: 75px;
}

#navigation_bar li {
    float:right;
    list-style-type: none;
    margin: right 25px;
}

#navigation_bar a {
    text-decoration: none;
    color:inherit;
}

#navigation_bar a:hover {
    border-bottom: 1px solid #2382db;
}

.selected_page {
    border-bottom: 1px solid #2382db;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/FFMainImage2.webp') no-repeat center center;

/* animates zoom effect on home page*/
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


#main-outer {
    height: 600px;
    width:100%;
    overflow:hidden;

    position:;

}

/* Creates the zoom for the main image on home page */
@keyframes main-zoom {
    from {
        transform: scale(1.0)
    }
    to{
        transform: scale(1.1);
    }
}

#main-image-text, #main-image-text h2 {
    color: #fff 
}

#mainimagetext {
    font-size:130%;
    
    text-transform: uppercase;
    
    letter-spacing: 4px;

    width: 300px;
    height: 300px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(3, 6, 10, 0.685);

    bottom: 500px;
    right: 150px;

    position:absolute;
}

#about-header {
    text-align: center;
    
}

/* About section*/
#left-style {
    padding-top: 30px;
    width: 33%;
    float: left;
    
    text-align: left;
    }

#right-style {
    padding-top: 30px;
    width: 33%;
    float: right;
   
    text-align: left;
}

#center-style {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: green;
}

hr {
    border-top: 1px solid #0820fc;
    width:100%;
    margin: 5px;
}

.left-style-heading {
    width: 60%;
    float: right;
    line-height 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-style-heading {
    width: 60%;
    float: left;
    line-height 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-style-heading h2 {
    text-align: right;
}

.right-style-heading p {
    text-align: right;
}